body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@hoverOrange: #fdf7f0;

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  &:hover {
    background-color: @hoverOrange !important;
  }
}
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item:hover,
.ant-menu-horizontal:not(.ant-menu-dark) > .ant-menu-item-selected {
  color: #e07300 !important;
  border-bottom: 2px solid #e07300 !important;
}
